.video {
  padding: 0;
}

.card {
  padding-bottom: 0.8rem;
  height: 100%;
  border: 0;
}

.card:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.card-body {
  padding: 0.5rem;
}

.title {
  line-height: 1.1rem;
  max-height: 2.2rem;
  font-size: 0.9rem;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.meta {
  font-size: 0.8rem;
}